.gradient-background {
    background: linear-gradient(300deg, #01204c, #744ae6, #0f4a7d);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
    
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  *{
    font-family: 'Poppins', sans-serif;
    
  }
  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    
  }
  .middle-text{
    padding-bottom: 100px;
  }
  .rounded-circle{
    border-radius: 50%;
  }
  .header-img{
    height: 700px;
    width: 700px;
    padding: 0px;
    margin: ppx;
  }
  .pic{
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: 50px;
    
  }
  .col-lg-12 h2, .col-lg-12 p{
    background: -webkit-linear-gradient( #380743, #a472cd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .text-center {
    text-align: center;
  }
.footer{
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
  
}


.skill{
  padding-right: 0px;
}

@media (min-width: 1200px) {
  .col-lg-9 {
    width: 52%;
  }
}
 
  
  